{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>etcLanguage</title>
{% endblock %}
{% block content %}
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">기타 질문하기</div>
                        <div class="text-muted">어떤 언어든!!!</div>
                    </div>
                </div>
            </div>
            <a href="{% url 'create_e' %}">글쓰기</a>
                <br><br>
                {% for etcPost in posts %}
                    <h5><a href="{% url 'post_detail_e' etcPost.id %}">{{etcPost.title}}</a></h5>
                    <p>{{etcPost.body}}</p>
                    <hr>
                {% endfor %}
        </div>
    </div>
</section>
{% endblock %}