{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>javaLanguage</title>
{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">JAVA언어 질문하기</div>
                        <div class="text-muted">System.out.println("질문하세요");</div>
                    </div>
                </div>
            </div>
            <a href="{% url 'create_j' %}">글쓰기</a>
                <br><br>
                {% for javaPost in posts %}
                    <h5><a href="{% url 'post_detail_j' javaPost.id %}">{{javaPost.title}}</a></h5>
                    <p>{{javaPost.body}}</p>
                    <hr>
                {% endfor %}
        </div>
    </div>
</section>
{% endblock %}