<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>제목: {{javaPost.title}} </h2>
    <h4>작성 시간: {{javaPost.created_at}} </h4>
    <hr>
    <p> {{javaPost.body}} </p>
    <hr>
    <a href="{% url 'post_update_j' javaPost.id %}">게시글 수정하기</a>
    <a href="{% url 'post_delete_j' javaPost.id %}">게시글 삭제하기</a>
</body>
</html>